@import "../../../../styles";
.virtual-keyboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    height: 100%;
    width: 100%;
}

.virtual-keyboard-container .current-word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 430px;
    border-radius: 10px;
}

.virtual-keyboard-container .current-word .current-word-letter {
    font-family: monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    border: 2px solid $border-edition-color;
    flex-grow: 1;
    max-width: 15vw;
    height: 1.5em;
}

.virtual-keyboard-container .virtual-keyboard {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    width: 100%;
    flex-grow: 1;
}

.virtual-keyboard-container .virtual-keyboard .keyboard-line {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    max-height: 4em;
}

.virtual-keyboard-container .virtual-keyboard .keyboard-line .keyboard-letter {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    border: 2px solid $border-color;
    flex-grow: 1;
    flex-shrink: 0;
    max-height: 2.5em;
    &:hover {
        cursor: pointer;
    }
    &.correctLetter {
        background-color: $good-color;
        color: white;
    }
    &.correctLetterAndPosition {
        background-color: $perfect-color;
        color: white;
    }
}

.virtual-keyboard-container .virtual-keyboard .keyboard-line .keyboard-action {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    border: 2px solid $border-color;
    width: 2.1em;
    max-height: 2.5em;
    color: white;
    &:hover {
        cursor: pointer;
    }
}

.virtual-keyboard-container .virtual-keyboard .keyboard-line .keyboard-send-action {
    @extend .keyboard-action;
    background-color: cadetblue;
}

.virtual-keyboard-container .virtual-keyboard    .keyboard-line .keyboard-back-action {
    @extend .keyboard-action;
    background-color: darkred;
}
