.app-body {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.app-body .selected-words {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
}

.app-body .keyboard {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
